body {
  margin: 20px auto;
}

.pdf {
    width: auto;
    height: 500px;
}


.item {
  width: 28%;
  float: left;
  
  margin: 14px 7px;
  padding: 7px;
  word-wrap:break-word;
  font-size: 0.7em;
  border-color: crimson;
  border-width: 3px;
  border-radius: 28px;
  border-style: ridge;
  font-family: mono;
}


.image {
  height: auto;
  overflow: hidden;
  object-fit: scale-down;
}
