body {
  margin: 20px auto;
}

.pdf {
    width: auto;
    height: 700px;
}

.item {
  width: 44%;
  float: left;
  margin: 10px 5px;
  padding: 7px;
  word-wrap: anywhere;
  font-size: 0.7em;
  border-color: crimson;
  border-width: 3px;
  border-radius: 24px;
  border-style: ridge;
  font-family: mono;
}

.image {
  overflow: hidden;
  object-fit: cover;
}