body {
  margin: 20px auto;
}

.pdf {
    width: auto;
    height: 700px;
}

.item {
  width: 22%;
  height: auto;
  object-fit: cover;
  float: left;
  margin: 14px 7px;
  padding: 7px;
  word-wrap:break-word;
  font-size: 0.7em;
  border-color: crimson;
  border-width: 3px;
  border-radius: 28px;
  border-style: ridge;
  font-family: mono;
}

.image {
  overflow: hidden;
  object-fit: cover;
}